@model ChartsModel
<mdc-grid>
    <mdc-grid-inner>
        <mdc-grid-cell span=12>
            <mdc-card>
                <form asp-controller=@nameof(Charts) method="get">
                    <mdc-grid>
                        <mdc-grid-inner>
                            <mdc-grid-cell span=12>
                                <mdc-select 
                                    id="from-month"
                                    label="Select from month"
                                    name="From"
                                    for=@Model.From
                                    items="@Model.Months">
                                </mdc-select>
                            </mdc-grid-cell>
                            <mdc-grid-cell span=12>
                                <mdc-select 
                                    id="to-month"
                                    label="Select to month"
                                    name="To"
                                    for=@Model.To
                                    items="@Model.Months">
                                </mdc-select>
                            </mdc-grid-cell>
                            <mdc-grid-cell span=12>
                                <mdc-button
                                    id="refresh"
                                    button-type=Raised
                                    label="Refresh">
                                </mdc-button>
                            </mdc-grid-cell>
                        </mdc-grid-inner>
                    </mdc-grid>
                </form>
            </mdc-card>
        </mdc-grid-cell>
        <mdc-grid-cell>
            <mdc-card>
                <canvas id="doughnut"></canvas>
            </mdc-card>
        </mdc-grid-cell>
        <mdc-grid-cell>
            <mdc-card>
                <canvas id="pie"></canvas>
            </mdc-card>
        </mdc-grid-cell>
        <mdc-grid-cell>
            <mdc-card>
                <canvas id="line"></canvas>
            </mdc-card>
        </mdc-grid-cell>
        <mdc-grid-cell>
            <mdc-card>
                <canvas id="bar"></canvas>
            </mdc-card>
        </mdc-grid-cell>
    </mdc-grid-inner>
</mdc-grid>

@section Scripts {
    <script>
        hookup_charts(
        @Html.Raw(Model.Labels.ToJson()),
        @Html.Raw(Model.Colours.ToJson()),
        @Html.Raw(Model.Data.ToJson()));
    </script>
}
