@model ChartsModel
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="mdc-card demo-card">
                <form asp-controller=@nameof(Charts) method="get">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <mdc-select 
                                    label="Select from month"
                                    name="From"
                                    options="@Model.Months">
                                </mdc-select>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <mdc-select 
                                    label="Select to month"
                                    name="To"
                                    options="@Model.Months">
                                </mdc-select>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                <button class="mdc-button mdc-button--raised">
                                    <span class="mdc-button__label">Refresh</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="doughnut"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="pie"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="line"></canvas>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card demo-card">
                <canvas id="bar"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        hookup_charts(
            @Html.Raw(Model.Labels.ToJson()), 
            @Html.Raw(Model.Colours.ToJson()), 
            @Html.Raw(Model.Data.ToJson()));
    </script>
}